<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="300 seconds">
    <property resource="application.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<withJansi>true</withJansi>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} ${spring.application.name} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${spring.application.name}/%d{yyyy-MM-dd HH}_%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>100mb</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} ${spring.application.name} [%thread] %-5level %logger{50} - %msg%n%ex{full,
                DISPLAY_EX_EVAL}
            </pattern>
        </encoder>
    </appender>
    <appender name="HTML_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${spring.application.name}/%d{yyyy-MM-dd HH}_%i.html</fileNamePattern>
            <maxHistory>180</maxHistory>
            <maxFileSize>100mb</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <!--<cssBuilder class="ch.qos.logback.classic.html.UrlCssBuilder">
                    &lt;!&ndash; url where the css file is located &ndash;&gt;
                    <url>http://...</url>
                </cssBuilder>-->
                <!--<pattern>%relative%thread%mdc%level%logger%msg</pattern>-->
                <pattern>%line%date{yyyy-MM-dd HH:mm:ss}${spring.application.name}%thread%mdc%level%logger%msg</pattern>
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} ${spring.application.name} [%thread] %-5level %logger{50} - %msg%n%ex{full, DISPLAY_EX_EVAL}</pattern>-->
            </layout>
        </encoder>
    </appender>
    <appender name="DB_OUT" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="com.alibaba.druid.pool.DruidDataSource">
                <url>jdbc:mysql://127.0.0.1:3333/ljp_log?useSSL=false&amp;serverTimezone=Asia/Chongqing&amp;useUnicode=true&amp;characterEncoding=utf8</url>
                <username>root</username>
                <password>root</password>
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
            </dataSource>
        </connectionSource>
        <!--<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <url>jdbc:mysql://127.0.0.1:3333/ljp_log?useSSL=false&amp;serverTimezone=Asia/Chongqing&amp;useUnicode=true&amp;characterEncoding=utf8</url>
            <user>root</user>
            <password>root</password>
            <driverClass>com.mysql.cj.jdbc.Driver</driverClass>
        </connectionSource>-->
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_OUT"/>
        <appender-ref ref="HTML_OUT"/>
        <appender-ref ref="DB_OUT"/>
    </root>
</configuration>
