<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{50} %L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
